.slider {
  width: 100%;
  max-width: 800px;
  margin: 5rem auto;
  overflow: hidden;
  position: relative;
  background: gray;
}

.slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: grab;
}

.slides {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
}

.slides > * {
  width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.next {
  right: 0.2rem;
}

.prev {
  left: 1rem;
}

.prev:active,
.next:active {
  color: #888;
}

/* hide the controls on touch screens */
@media (pointer: coarse) {
  .prev,
  .next {
    display: none;
  }
}

.navigation {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.slide-selector {
  cursor: pointer;
  margin: 0 0.5rem;
  border: none;
  height: 0.5rem;
  border-radius: 20px;
}

.active {
  background: #888;
}

.display-none {
  display: none;
}
